
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3></h3><form action="/browse" method="POST">
      <% memes.forEach(function(meme) { %>
        <dl class="dl-horizontal">
          <dt>title</dt><dd><%= meme.title %></dd>
          <dt>image</dt><dd><%= meme.image %></dd>
          <dt>top</dt><dd><%= meme.top %></dd>
          <dt>bottom</dt><dd><%= meme.bottom %></dd>
          <dt>tags</dt><dd><%= meme.tags %></dd>
        </dl>
      <% }) %>
      </form>
     <button type="submit">Submit</button>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


