
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <form action="/browse" method="GET">
      <% memes.forEach(function(meme) { %>
        <h4>
          <form method="GET" action="/memes/<%= meme._id %>?_method=DELETE">
            <a href="/memes/<%= meme._id %>">
              <%= meme.title + ' - ' + meme.completed %>
              <img src="<%= meme.image %>">
              <%= meme.top %>
              <%= meme.bottom %>
              <%= meme.tags %>
            </a>
            <button type="submit" class="btn btn-xs btn-danger">Delete</button>
          </form>
        </h4>
      <% }) %>
      </form>
     <button type="submit">Submit</button>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>

