<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3 style='background:white'>Memes</h3>
        <dl class="dl-horizontal">
          <dd><h3><%= meme.title %></h3></dd>
          <dd><h5><%= meme.tags %></h5></dd>
          <dd><img src= "<%= meme.image %>"></dd>
          <dd><div id="top"><%= meme.top %></div></dd>
          <dd><div id="bottom"><%= meme.bottom %></div></dd>
        </dl>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>


